* {
    box-sizing: border-box;
    resize: none;
}

.page{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.page__container{
    display: grid;
    grid-template-areas:
    "header header"
    "experience form__container"
    "footer footer";
    grid-template-columns: auto min(300px, 30%);
    gap: 1rem;
}
h1,h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(8, 11, 97);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
}
.header__image{
    max-width: 50px;
    border-radius: 50%;
    margin: 10px;
    padding: 2px;
    border: 1px solid #808080;
}

.header__title, .header__image, .header__nav{
    display: inline;
    vertical-align: middle;
}

.header__nav{
    float: right;
    margin-left: auto;
}

.nav__item{
    display: inline;
    padding: 8px;
    background-color: rgb(29, 27, 27);
}

.nav__item.active{
    background-color: darkslateblue;
}

.nav__item a{
    color: white;
    text-decoration: none;
}

.block__title{
    font-weight: 600;
}
.experience{
    background-color: rgb(197, 197, 197);
    padding: .5rem;
    grid-area: experience;
}

.experience__block{
    border: inset 1px;
    margin-bottom: 4px;
    padding: 4px;
    background-color: white;
    color:#222;
}
.form{
    display: flex;
    flex-direction: column;
}

.form__container{
    grid-area: form__container;
}

.form__block{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.form__submit{
    margin-top: 5px;
}

.block__item{
    margin-block: 2px;
    padding: .5rem;
}

.form__submit{
    background-color: rgb(18, 53, 23);
    border-radius: 2px;
    border-width: 1px;
    padding: .5rem;
    color: rgb(162, 144, 144);
    margin-bottom: 1rem;
}

.footer{
    width: 100%;
    background-color: #202020;
    color: lightblue;
    text-align: center;
    padding: 2px;
    position: fixed;
    bottom:0;
    left:0;
    grid-area: footer;
}
